<main class='container'>
  <div class="panel panel-primary shadow">
    <div class="panel-heading">New user</div>
    <div class="panel-body">
      <form action="/users" method="post" accept-charset="utf-8">
        <label for="name">Name</label><input type="text" name="name" value="" id="name">
        <label for="email">Email</label><input type="text" name="email" value="" id="email">
        <input type="submit" value="Create user">
      </form>
    </div>
  </div>
</main>
